includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - .
  excludePaths:
    - vendor/*
    - */vendor/*
    - */tests/*
    - cache/*
    - scratch.php
    - swoole/demo/*
    - swoole/src/server/SwooleServer.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#Construct empty\(\) is not allowed#'
