parameters:
  level: 6
  paths:
    - annotations/src
    - cache/src
    - db/src
    - di/src
    - event/src
    - helper/src
    - http-client/src
    - logger/src
    - reflection/src
    - serializer/src
    - swoole/src
    - web/src
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Construct empty\(\) is not allowed#'
