parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method kuiper\\\\db\\\\StatementInterface\\:\\:getLastInsertId\\(\\)\\.$#"
			count: 2
			path: db/src/AbstractCrudRepository.php

		-
			message: "#^Parameter \\#1 \\$attribute \\(int\\) of method kuiper\\\\db\\\\Connection\\:\\:setAttribute\\(\\) should be contravariant with parameter \\$attribute \\(mixed\\) of method kuiper\\\\db\\\\PdoInterface\\:\\:setAttribute\\(\\)$#"
			count: 2
			path: db/src/Connection.php

		-
			message: "#^Parameter \\#1 \\$value \\(string\\) of method kuiper\\\\db\\\\Connection\\:\\:quote\\(\\) should be contravariant with parameter \\$value \\(mixed\\) of method kuiper\\\\db\\\\PdoInterface\\:\\:quote\\(\\)$#"
			count: 2
			path: db/src/Connection.php

		-
			message: "#^kuiper\\\\db\\\\Connection\\:\\:__construct\\(\\) does not call parent constructor from PDO\\.$#"
			count: 1
			path: db/src/Connection.php

		-
			message: "#^Method kuiper\\\\db\\\\Criteria\\:\\:expression\\(\\) has parameter \\$bindValues with no type specified\\.$#"
			count: 1
			path: db/src/Criteria.php

		-
			message: "#^Call to an undefined method Aura\\\\SqlQuery\\\\QueryInterface\\:\\:where\\(\\)\\.$#"
			count: 1
			path: db/src/Statement.php

		-
			message: "#^Method kuiper\\\\db\\\\Statement\\:\\:select\\(\\) has parameter \\$columns with no type specified\\.$#"
			count: 1
			path: db/src/Statement.php

		-
			message: "#^Method kuiper\\\\db\\\\Statement\\:\\:where\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: db/src/Statement.php

		-
			message: "#^Method kuiper\\\\db\\\\StatementInterface\\:\\:select\\(\\) has parameter \\$columns with no type specified\\.$#"
			count: 1
			path: db/src/StatementInterface.php

		-
			message: "#^Method kuiper\\\\db\\\\StatementInterface\\:\\:where\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: db/src/StatementInterface.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, mixed given\\.$#"
			count: 1
			path: db/src/converter/BoolConverter.php

		-
			message: "#^Unable to resolve the template type T in call to method kuiper\\\\db\\\\metadata\\\\MetaModelProperty\\:\\:getAttribute\\(\\)$#"
			count: 1
			path: db/src/metadata/MetaModelProperty.php

		-
			message: "#^Method kuiper\\\\db\\\\sharding\\\\Statement\\:\\:where\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: db/src/sharding/Statement.php

		-
			message: "#^Method kuiper\\\\db\\\\sharding\\\\Statement\\:\\:where\\(\\) has parameter \\$condition with no type specified\\.$#"
			count: 1
			path: db/src/sharding/Statement.php

		-
			message: "#^Instanceof between mixed and ArrayAccess will always evaluate to false\\.$#"
			count: 1
			path: helper/src/Arrays.php

		-
			message: "#^Dead catch \\- ReflectionException is never thrown in the try block\\.$#"
			count: 1
			path: helper/src/Enum.php

		-
			message: "#^Method kuiper\\\\helper\\\\Enum\\:\\:__get\\(\\) has no return type specified\\.$#"
			count: 1
			path: helper/src/Enum.php

		-
			message: "#^Method kuiper\\\\helper\\\\Enum\\:\\:fromOrdinal\\(\\) should return static\\(kuiper\\\\helper\\\\Enum\\) but returns kuiper\\\\helper\\\\Enum\\.$#"
			count: 1
			path: helper/src/Enum.php

		-
			message: "#^Anonymous function uses \\$this assigned to variable \\$self\\. Use \\$this directly in the function body\\.$#"
			count: 2
			path: http-client/src/HttpClientConfiguration.php

		-
			message: "#^Parameter \\#1 \\$class of static method kuiper\\\\jsonrpc\\\\config\\\\JsonRpcServerConfiguration\\:\\:getServiceClass\\(\\) expects ReflectionClass, Reflector given\\.$#"
			count: 1
			path: jsonrpc/src/config/JsonRpcClientConfiguration.php

		-
			message: "#^Parameter \\#1 \\$class of method kuiper\\\\jsonrpc\\\\config\\\\JsonRpcServerConfiguration\\:\\:getMethods\\(\\) expects ReflectionClass, Reflector given\\.$#"
			count: 1
			path: jsonrpc/src/config/JsonRpcServerConfiguration.php

		-
			message: "#^Parameter \\#1 \\$class of method kuiper\\\\jsonrpc\\\\config\\\\JsonRpcServerConfiguration\\:\\:getServiceName\\(\\) expects ReflectionClass, Reflector given\\.$#"
			count: 1
			path: jsonrpc/src/config/JsonRpcServerConfiguration.php

		-
			message: "#^Dead catch \\- kuiper\\\\jsonrpc\\\\exception\\\\JsonRpcRequestException is never thrown in the try block\\.$#"
			count: 1
			path: jsonrpc/src/server/JsonRpcHttpRequestHandler.php

		-
			message: "#^Call to an undefined method kuiper\\\\rpc\\\\RpcRequestInterface\\:\\:getRequestId\\(\\)\\.$#"
			count: 1
			path: jsonrpc/src/server/JsonRpcServerResponse.php

		-
			message: "#^Dead catch \\- kuiper\\\\jsonrpc\\\\exception\\\\JsonRpcRequestException is never thrown in the try block\\.$#"
			count: 1
			path: jsonrpc/src/server/JsonRpcTcpReceiveEventListener.php

		-
			message: "#^Property kuiper\\\\jsonrpc\\\\server\\\\JsonRpcTcpReceiveEventListener\\:\\:\\$invalidRequestHandler is never read, only written\\.$#"
			count: 1
			path: jsonrpc/src/server/JsonRpcTcpReceiveEventListener.php

		-
			message: "#^Call to function is_array\\(\\) with array will always evaluate to true\\.$#"
			count: 1
			path: logger/src/LoggerFactory.php

		-
			message: "#^Parameter \\#2 \\$level of class Monolog\\\\Handler\\\\StreamHandler constructor expects 100\\|200\\|250\\|300\\|400\\|500\\|550\\|600\\|'ALERT'\\|'alert'\\|'CRITICAL'\\|'critical'\\|'DEBUG'\\|'debug'\\|'EMERGENCY'\\|'emergency'\\|'ERROR'\\|'error'\\|'INFO'\\|'info'\\|'NOTICE'\\|'notice'\\|'WARNING'\\|'warning'\\|Monolog\\\\Level, int given\\.$#"
			count: 1
			path: logger/src/LoggerFactory.php

		-
			message: "#^Parameter \\#3 \\$level of class Monolog\\\\Handler\\\\RotatingFileHandler constructor expects 100\\|200\\|250\\|300\\|400\\|500\\|550\\|600\\|'ALERT'\\|'alert'\\|'CRITICAL'\\|'critical'\\|'DEBUG'\\|'debug'\\|'EMERGENCY'\\|'emergency'\\|'ERROR'\\|'error'\\|'INFO'\\|'info'\\|'NOTICE'\\|'notice'\\|'WARNING'\\|'warning'\\|Monolog\\\\Level, int given\\.$#"
			count: 1
			path: logger/src/LoggerFactory.php

		-
			message: "#^Readonly property kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetricsImpl\\:\\:\\$minimumNumberOfCalls is already assigned\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/CircuitBreakerMetricsImpl.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onError\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/ClosedState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onSuccess\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/ClosedState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onCallNotPermitted\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/ForcedOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreaker\\:\\:transitionToCloseState\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/HalfOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreaker\\:\\:transitionToOpenState\\(\\)\\.$#"
			count: 2
			path: resilience/src/circuitbreaker/HalfOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onCallNotPermitted\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/HalfOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onError\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/HalfOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onSuccess\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/HalfOpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onCallNotPermitted\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/OpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onError\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/OpenState.php

		-
			message: "#^Call to an undefined method kuiper\\\\resilience\\\\circuitbreaker\\\\CircuitBreakerMetrics\\:\\:onSuccess\\(\\)\\.$#"
			count: 1
			path: resilience/src/circuitbreaker/OpenState.php

		-
			message: "#^Method kuiper\\\\resilience\\\\core\\\\TryCall\\:\\:call\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: resilience/src/core/TryCall.php

		-
			message: "#^Method kuiper\\\\rpc\\\\RpcResponse\\:\\:withResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: rpc/src/RpcResponse.php

		-
			message: "#^Return type \\(kuiper\\\\rpc\\\\RpcResponse\\) of method kuiper\\\\rpc\\\\RpcResponse\\:\\:withHeader\\(\\) should be covariant with return type \\(static\\(Psr\\\\Http\\\\Message\\\\MessageInterface\\)\\) of method Psr\\\\Http\\\\Message\\\\MessageInterface\\:\\:withHeader\\(\\)$#"
			count: 3
			path: rpc/src/RpcResponse.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the right side\\.$#"
			count: 1
			path: rpc/src/transporter/SwooleTcpTransporter.php

		-
			message: "#^Call to an undefined method kuiper\\\\logger\\\\LoggerFactoryInterface\\:\\:getLoggers\\(\\)\\.$#"
			count: 1
			path: swoole/src/listener/ReopenLogFile.php

		-
			message: "#^PHPDoc tag @return with type T is not subtype of native type object\\.$#"
			count: 1
			path: swoole/src/pool/ConnectionProxyGenerator.php

		-
			message: "#^Property kuiper\\\\swoole\\\\pool\\\\PoolConfig\\:\\:\\$connectTimeout is never read, only written\\.$#"
			count: 1
			path: swoole/src/pool/PoolConfig.php

		-
			message: "#^Property kuiper\\\\swoole\\\\pool\\\\PoolConfig\\:\\:\\$heartbeat is never read, only written\\.$#"
			count: 1
			path: swoole/src/pool/PoolConfig.php

		-
			message: "#^Property kuiper\\\\swoole\\\\pool\\\\PoolConfig\\:\\:\\$maxIdleTime is never read, only written\\.$#"
			count: 1
			path: swoole/src/pool/PoolConfig.php

		-
			message: "#^Property kuiper\\\\swoole\\\\pool\\\\PoolConfig\\:\\:\\$minConnections is never read, only written\\.$#"
			count: 1
			path: swoole/src/pool/PoolConfig.php

		-
			message: "#^Variable \\$resource in isset\\(\\) always exists and is always null\\.$#"
			count: 1
			path: swoole/src/pool/SimplePool.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and null will always evaluate to true\\.$#"
			count: 1
			path: swoole/src/pool/SingleConnectionPool.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: swoole/src/server/workers/ForkedWorkerManager.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: swoole/src/server/workers/SingleWorkerManager.php

		-
			message: "#^Variable \\$read in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: swoole/src/server/workers/SocketChannel.php

		-
			message: "#^Parameter \\#1 \\$type of method kuiper\\\\tars\\\\type\\\\TypeParser\\:\\:fromPhpType\\(\\) expects ReflectionNamedType, ReflectionType\\|null given\\.$#"
			count: 1
			path: tars/src/core/TarsMethodFactory.php

		-
			message: "#^Method kuiper\\\\tars\\\\integration\\\\PropertyFServant\\:\\:reportPropMsg\\(\\) has parameter \\$statmsg with no type specified\\.$#"
			count: 1
			path: tars/src/integration/PropertyFServant.php

		-
			message: "#^Method kuiper\\\\tars\\\\integration\\\\StatFServant\\:\\:reportMicMsg\\(\\) has parameter \\$msg with no type specified\\.$#"
			count: 1
			path: tars/src/integration/StatFServant.php

		-
			message: "#^Dead catch \\- kuiper\\\\tars\\\\exception\\\\TarsRequestException is never thrown in the try block\\.$#"
			count: 1
			path: tars/src/server/TarsTcpReceiveEventListener.php

		-
			message: "#^Method kuiper\\\\tars\\\\server\\\\TarsTcpReceiveEventListener\\:\\:createInvalidTarsRequestResponse\\(\\) is unused\\.$#"
			count: 1
			path: tars/src/server/TarsTcpReceiveEventListener.php

		-
			message: "#^Anonymous function uses \\$this assigned to variable \\$self\\. Use \\$this directly in the function body\\.$#"
			count: 1
			path: web/src/AttributeProcessor.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\:\\:create_sid\\(\\)\\.$#"
			count: 1
			path: web/src/session/CacheStoreSession.php
